<div class="backgrounds-container">
  <div class="progress-bar">
    <h3>60%</h3>
    <progress max="100" value="60"></progress>
  </div>
  <h1>Backgrounds</h1>
  <p>Select your character background</p>

  <ul class="backgrounds-list">
    <% @backgrounds.each do |background| %>
      <div class="background-card">
        <li class="background-name"><strong><%= background.name %></strong></li>
        <li class="background-specificity"><%= background.specificity %><a href="#">Read more</a></li>
        <div>
          <%= simple_form_for [@character] do |f| %>
            <%= f.hidden_field :background, value: background.id  %>
            <%= f.submit "Select background", html: { class: 'room-button' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </ul>
</div>
