<h2>60%</h2>
<progress max="100" value="60"></progress>

<h1>Backgrounds</h1>
<p>Select your character background</p>

<ul>
  <% @backgrounds.each do |background| %>
    <li><strong><%= background.name %></strong></li>
    <li><%= background.specificity %></li>
    <%= link_to "View more", character_background_path(@character, background) %>
    <div>
      <%= simple_form_for [@character] do |f| %>
        <%= f.hidden_field :background, value: background.id  %>
        <%= f.submit "Select background" %>
      <% end %>
    </div>
  <% end %>
</ul>
