<h1>Races</h1>
<p>Select your character race</p>

<ul>
  <% @races.each do |race| %>
    <li><strong><%= race.name %></strong></li>
    <li><%= race.description %></li>
    <%= link_to "View details", character_race_path(@character, race) %>
    <div>
      <%= simple_form_for [@character] do |f| %>
        <%= f.hidden_field :race, value: race.id  %>
        <%= f.submit "Select race" %>
      <% end %>
    </div>
  <% end %>
</ul>
