<% nums = [1, 2, 3, 4, 5] %>

<% nums.each do |num| %>
  <% if @character.gifts.count < (6-num)  %>
    <div data-counter-target="form<%=num%>">
      <%=simple_form_for ([@character, @gifts, @character_gift]), data: { action: "counter#hide#{num} change->counter#display#{num}", target: "counter.form#{num}" },
                                                                  url: character_create_character_gift_index_path do |f| %>
        <%= f.input :gift_id , collection: @gifts, input_html: { data: { target: "counter.giftInput" } } %>
        <%= f.submit "Select this gift"%>
      <% end %>
      <p data-counter-target="description<%=num%>" hidden="true"><%= Gift.all.sample.description %></p>
    </div>
  <% end %>
<% end %>
