<h1>Gift</h1>
<p>Select your character gifts</p>
<% @n %>
<p><%= @n>1 ? "Gifts" : "Gift"%> remaining  <%= @n %></p>


<% @n.times do %>
    <div>
        <%=simple_form_for ([@character, @gifts, @character_gift]), url: character_create_character_gift_index_path do |f| %>
          <%= f.input :gift_id , collection: @gifts %>
          <%= f.submit "Select this gift"%>
        <% end %>
    </div>
<% end %>
