<%= link_to home_path do %>
<div class="black-container">
    <div class="banner">
    <%= image_tag("logo-wax.png", class: "pplogo") %>
        <div class="container-banner">
              <h1 class="banner-header-1">What's Pain & Paper?</h1>
              <p class="banner-header-3">Pathfinder: Kingmaker is an isometric role-playing game developed by Cypriot studio Owlcat Games and published by Deep
              Silver, based on Paizo Publishing's Pathfinder franchise. Announced through a Kickstarter campaign in 2017, the game was
              released for Microsoft Windows, macOS, and Linux on 25 September 2018</p>
        </div>
        <div class="text-prehome2">
          <p class="text-gmorp2">Lorem ipsum dolor sit amet consectetur adipisicing elit.fugiat cupiditate ducimus dolore rem magnam? </p>
          <%= image_tag("prehome/heritage-suli-detail.png", class: "first-image") %>
        </div>
    </div>
        <div class="divider-container">
            <hr class="solid-1">
              <h1 class="divider-header">Game Master or Player</h1>
            <hr class="solid-2">
        </div>
    <div class="text-prehome">
        <p class="text-gmorp">Lorem ipsum dolor sit amet consectetur adipisicing elit.fugiat cupiditate ducimus dolore rem magnam? </p>
        <%= image_tag("prehome/heritage-aasimar-detail.png", class: "second-image") %>
    </div>
        <div class="divider-container">
            <hr class="solid-1">
              <h1 class="divider-header">Who will you be?</h1>
            <hr class="solid-2">
              <p class="who-desc">Choose from a variety of class, races, spells... Customize as you wish in no time.</p>
            <div class="classes-icons">
                <%= image_tag("class/class-icon-champion.png", class: "class-icon") %>
                <%= image_tag("class/class-icon-fighter.png", class: "class-icon") %>
                <%= image_tag("class/class-icon-psychic.png", class: "class-icon") %>
                <%= image_tag("class/class-icon-witch.png", class: "class-icon") %>
            </div>
        </div>
        <%= image_tag("prehome/prehome-trombi", class: "img-middle") %>
</div>
<% end %>
