<div class="character-show-container">

  <div class="character-picture", style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
              url('<%= cl_image_path @character.photo.key, crop: :fill %>');">
    <ul>
      <li><h3><%= @character.name %></h3></li>
      <div>
        <li><%= image_tag("#{Race.find_by(name: "Human").image_url}", class: "character-show-icon") %></li>
        <li><%= image_tag("#{@character.job.image_url}", class: "character-show-icon") %></li>
      </div>
    </ul>
    <%= link_to  new_room_character_path(@character.room), id: "character-picture-pen" do %>
      <i class="fa-solid fa-pen"></i>
    <% end %>
  </div>

  <div class="character-infos">
    <div><h3>Name</h3><p><%= @character.name %></p></div>
    <div><h3>Age</h3><p><%= @character.age %> yo</p></div>
    <div><h3>Weight</h3><p><%= @character.weight %> kg</p></div>
    <div><h3>Height</h3><p><%= @character.height %> m</p></div>
    <div><h3>Gender</h3><p><%= @character.gender %></p></div>
    <div><h3>Level</h3><p><%= @character.level %></p></div>
    <div class="character-infos-last"><h3>Creator</h3><p><%= @character.user[:username] %></p></div>
  </div>

  <div class="character-background">
    <h3>Background (<%= @character.background[:name] %>)
      <%= link_to character_backgrounds_path(@character) do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </h3>
    <%= @character.background[:specificity] %>
  </div>

  <div class="character-infos2">

    <div id="character-infos-first">

      <div>
        <%= image_tag("#{Race.find_by(name: "Human").image_url}", class: "character-show-icon2") %>
        <h3>
          <%= Race.find_by(name: "Human").name %>
          <%= link_to character_races_path(@character) do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
        </h3>
      </div>

      <div>
        <%= image_tag("#{@character.job.image_url}", class: "character-show-icon2") %>
        <h3>
          <%= @character.job[:name] %>
          <%= link_to character_jobs_path(@character) do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
        </h3>
      </div>
    </div>

    <div>
      <h3>Gifts</h3>
      <%@character.gifts.each do |gift| %>
        <a href="#"><p><%= gift.name %></p></a>
      <% end %>
      <%= link_to character_gifts_path(@character) do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>

    <div>
      <h3>Skills</h3>
      <% @character.skills.each do |skill| %>
        <a href="#"><p><%= skill.name %></p></a>
      <% end %>
      <%= link_to character_skills_path(@character) do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>

    <div class="character-infos-last">
      <h3>Spells</h3>
      <% @character.spells.each do |spell| %>
        <a href="#"><p><%= spell.name %></p></a>
      <% end %>
      <%= link_to character_spells_path(@character) do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>
  </div>

  <%= render "shared/backbutton" %>
  <%= render "shared/homebutton" %>

</div>
