<h1>My character</h1>

<h3>Name :</h3><%= @character.name %>
<h3>Age :</h3><%= @character.age %>
<h3>Weight :</h3><%= @character.weight %>
<h3>Height :</h3><%= @character.height %>
<h3>Gender :</h3><%= @character.gender %>
<h3>Level :</h3><%= @character.level %>
<h3>User :</h3><%= @character.user[:username] %>
<h3>Race :</h3><%= @character.race[:name] %>
<h3>Job :</h3><%= @character.job[:name] %>
<h3>Background :</h3><%= @character.background[:specificity] %>


<%= link_to "Edit Race", character_races_path(@character) %>
<%= link_to "Edit Class", character_jobs_path(@character) %>
<%= link_to "Edit Background", character_backgrounds_path(@character) %>
<%= link_to "Edit Characteristics", edit_character_characteristics_list_path(@character) %>
<%= link_to "Back", room_path(@room) %>
