<div class="container">

  <div class="room-selection-form">
    <h1> Select a room </h1>
    <div class="form-fields room-input">
      <form action="/rooms" method="get">
        <div>
            <input type="id" name="room_id" placeholder="Search a Room">
        </div>
        <a href="#">
        <div class="center room-button">
          Find a room
        </div>
        </a>
      </form>
    </div>
  </div>

  <div class="rooms-cards-list">
    <% @rooms.each do |room| %>
      <% if room.photo.attached? %>
          <%= link_to room_path(room), class: "card-link" do %>
            <div class="room-card",
              style="background-image: linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.3)),
                    url('<%= cl_image_path room.photo.key, height: 300, crop: :fill %>');">
                <h2 class="room-card-title"><%= room.name %></h2>
                <%= link_to room_path(room), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-skull-crossbones trash-icon"></i>
                <% end %>
            </div>
          <% end %>
      <% else %>
          <%= link_to room_path(room), class: "card-link" do %>
            <div  class="room-card room-card-bg">
                <h2 class="room-card-title"><%= room.name %></h2>
                <%= link_to room_path(room), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-skull-crossbones trash-icon"></i>
                <% end %>
            </div>
          <% end %>
      <% end %>
    <% end %>
    <li class="plus-icon-div">
      <%= link_to new_room_path do %>
        <i class="fa-sharp fa-solid fa-plus room-icon"></i>
      <% end %>
    </li>
  </div>

  <div>
    <%= link_to home_path do %>
    <i class="fa-brands fa-fort-awesome-alt room-icon"></i>
    <% end %>
  </div>

</div>
