<div class="container">

  <div class="room-selection-form">
    <h1> Select a room </h1>
    <div class="form-fields">
      <%= simple_form_for(@room) do |f| %>
        <%= f.input :name, label: false, placeholder: "Enter a room id" %>
        <br>
        <div class="centered-simple-form-button">
          <%= f.submit "Find room" %>
        </div>
      <% end %>
    </div>
  </div>

  <ul class="rooms-cards-list">
    <% @rooms.each do |room| %>
      <div class="room-card">
        <%= link_to room_path(room) do %>
          <li><%= room.name %></li>
          <%= link_to "Delete", room_path(room),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      </div>
    <% end %>
  </ul>

</div>
