<div class="container">

  <div class="room-selection-form">
    <h1> Select a room </h1>
    <div class="form-fields">
      <%= simple_form_for(@room) do |f| %>
        <%= f.input :name, label: false, placeholder: "Enter a room id" %>
        <br>
        <div class="centered-simple-form-button">
          <%= f.submit "Find room" %>
        </div>
      <% end %>
    </div>
  </div>

<ul>
  <% @rooms.each do |room| %>
    <%= link_to room_path(room) do %>
      <% if room.photo.attached? %>
        <div
          class="card-category"
          style="background-image: url('<%= cl_image_path room.photo.key, height: 300, crop: :fill %>');">
        </div>
      <% else %>
        <div
          class="card-category"
          style="
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.3)
              ),
              url(https://i-cf65.ch-static.com/content/dam/cf-consumer-healthcare/paradontax/en_SA/Sierra-update/banner-3.jpg?auto=format);
          ">
        </div>
      <% end %>
      <li><%= room.name %></li>
      <%= link_to "Delete", room_path(room),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
</ul>
</div>
