<h2> Show </h2>

<div>
  <h2>Room name: <%= @room.name %></h2>
</div>

<div>
  <h3>Characters in room: <%= @room.characters.count %></h3>
  <% if @room.characters.count > 0 %>
    <% @room.characters.each do |character| %>
      <%= link_to character.name, room_character_path(character) %>
    <% end %>
  <% else %>
    <%= "No character in this room !" %>
  <% end %>
</div>

<div>
  <h3>Link to index page: <%= link_to "Back to index", rooms_path %></h3>
</div>

<div>
  <h3>Link to home page: <%= link_to "Back to home", root_path %></h3>
</div>

<div>
  <h3>link to new character page: <%= link_to "Create new character", new_room_character_path(@room) %></h3>
</div>
