<article class="bg">

<div class="room-header">
  <% if @room.photo.attached? %>
    <div
      style="background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.3)),
            url('<%= cl_image_path @room.photo.key, height: 300, crop: :fill %>');">
        <h2 class="title"><%= @room.name %></h2>
    </div>
  <% else %>
    <div  class="room-card-bg">
      <h2 class="title"><%= @room.name %></h2>
    </div>
  <% end %>
</div>

<div class="show-room-card">
  <h3 class= "character-name">Game Master of the room : <br><%= @room.user.username %><br>
  <% if @room.user.photo.attached? %>
    <%= cl_image_path @room.user.photo.key , crop: :fill %> </h3>
  <% end %>

  <h3 class= "character-name">Characters in room : <%= @room.characters.count %></h3>


  <% if @room.characters.count > 0 %>
    <% @room.characters.each do |character| %>
      <div class="room-characters">
        <% if character.photo.attached? %>
          <%= cl_image_tag character.photo.key %>
        <% end %>
        <div>
          <%= link_to character.name, room_character_path(@room, character) %>
          <%= link_to room_character_path(@room, character),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-skull-crossbones kill-icon"></i>
        </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <h3 class= "rooms-characters"><%= "No character in this room !" %></h3>
  <% end %>

  <div class="show-room-links">
    <div class="show-room-link" >
      <%= link_to  rooms_path do %>
      <i class="fa-solid fa-angles-left"></i>
      <% end %>
    </div>

    <div class="show-room-link">
      <%= link_to home_path do %>
      <i class="fa-brands fa-fort-awesome-alt"></i>
      <% end %>
    </div>
  </div>

</div>

  <div class="showroom-button">
    <h2 class= "room-button" style="color: $white; text-align: center;"><%= link_to "Create new character", new_room_character_path(@room) %></h2>
  </div>

</article>
